@import url('https://fonts.cdnfonts.com/css/digital-7-mono');
*{
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.digital-clock{
    background-color: black;
    color:aliceblue;
    display: flex;
    border-radius: 2rem;
    user-select: none;
    padding: 0 2rem;
    border: 0.3rem solid #2d2d2d;
}

.week{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5rem;
    color: #2d2d2d;
    font-weight: bold;
    font-family: sans-serif;
}

.week .active{
    color: aliceblue;
}

.time{
    font-family: 'Digital-7', sans-serif;
}

.hour,
.min,
.dot {
    display: inline-block;
    font-size: 13rem;
}

.min{
    display: math;
}

.invisible{
    visibility: hidden;
}